<!-- app/templates/app/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded p-6 mb-6">
    <h1 class="text-2xl font-bold mb-4">Velkommen, {{ user.username }}!</h1>
    <p>🤞La oss krysse fingrane for at dette systemet funkar!</p>
</div>

<div class="shadow-md rounded p-6 bg-white mb-6">
    <h2 class="text-xl font-bold mb-4">Aktiv pGP-runde:</h2>
    {% if active_rounds %}
        <div class="space-y-2">
            {% for round in active_rounds %}
                <div class="p-2 border-b border-gray-300 last:border-b-0">
                    <a href="{% url 'round_detail' round.id %}" class="text-blue-600 hover:underline">{{ round.name }}</a> arrangert av 
                    <span class="font-semibold text-blue-700">👑{{ round.organizer.username }}</span> {# Styled organizer name #}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-gray-700">Ingen aktive pGP-runder.</p>
    {% endif %}
</div>

{% load custom_filters %}

<div class="shadow-md rounded p-4 bg-white">
    <h2 class="text-xl font-bold mb-2">pGP-deltakarar:</h2>
    {% if players %}
        <p class="text-black">
            {% for player in players %}
                {{ random_emojis|get_item:player.id }} {{ player.nickname }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% else %}
        <p class="text-gray-700">Ingen registrerte spelarar.</p>
    {% endif %}
</div>








{% endblock %}
