{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Round Details{% endblock %}

{% block content %}

<div class="container mx-auto my-8 px-4">
    <h1 class="text-2xl uppercase mb-5 font-bold text-center">{{ round.name }}</h1>

    <h2 class="text-2xl font-bold bg-blue-500 text-white p-2 shadow-md">Om runden:</h2>
    <div class="p-4 shadow-lg mb-8 bg-white">
        <p class="mb-2"><strong>Oppgavetekst:</strong> {{ round.description }}</p>
        
        <hr class="my-4 border-gray-300">
        
        <p class="mb-2"><strong>Bidrag innen:</strong> {{ round.start_date|date:"d. F Y H:i" }}</p>
        
        <hr class="my-4 border-gray-300">
        
        <p class="mb-2"><strong>Stemmefrist:</strong> {{ round.end_date|date:"d. F Y H:i" }}</p>
        
        <hr class="my-4 border-gray-300">
        
        {% if round.playlist_released %}
            <p class="mb-2">
                <strong>pGP-liste:</strong> 
                <a href="{{ round.playlist_url }}" class="text-blue-500 underline" target="_blank">{{ round.name }}</a>
            </p>
            <hr class="my-4 border-gray-300">
        {% endif %}
        
        <p class="mb-2"><strong>Arrangør:</strong> 
            {% if user == round.organizer %}
                <span class="bg-red-500 text-white font-bold py-1 px-2 rounded">DEG, {{ round.organizer.username }}💀</span>
            {% else %}
                {{ round.organizer.username }}
            {% endif %}
        </p>
        
        <hr class="my-4 border-gray-300">
        
        <p class="mb-2">
            <strong>
                {% if player_votes %}
                    Dine poeng:
                {% else %}
                    Send inn stemmer:
                {% endif %}
            </strong>
            {% if round.playlist_released %}
                {% if round.end_date > now %}
                    {% if countdown %}
                        ⌛️ Stemmeskjema blir lagt ut om {{ countdown }}
                    {% else %}
                        {% if player_votes %}
                            <ul id="votes-list">
                                {% for vote in player_votes %}
                                    <li>{{ vote.score }}: {{ vote.song.artist }} - {{ vote.song.title }}</li>
                                {% endfor %}
                            </ul>
                            <button 
                                type="button" 
                                class="bg-blue-500 text-white px-2 py-1" 
                                onclick="copyVotesToClipboard()"
                                aria-label="Kopier stemmer"
                            >
                                <i class="fas fa-copy"></i> <!-- Font Awesome copy icon -->
                            </button>
                        {% else %}
                            {% if has_submitted_song %}
                                <a href="{% url 'vote_form' round.pk %}" class="text-blue-500 underline" target="_blank">Skjema</a>
                            {% else %}
                                Du deltar ikkje denne runden...
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if player_votes %}
                        
                        <ul id="votes-list">
                            {% for vote in player_votes %}
                                <li>{{ vote.score }}: {{ vote.song.artist }} - {{ vote.song.title }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        📅 Stemmefristen har passert ☹️
                    {% endif %}
                {% endif %}
            {% else %}
                ⏱
            {% endif %}
        </p>
        
        
        
    </div>
    {% load i18n %}

    {% if round.playlist_released %}
    <h2 class="text-2xl font-bold bg-purple-500 text-white p-2 shadow-md">pGP-liste:</h2>
    <div class="p-4 shadow-lg mb-8 bg-white">
        <iframe src="https://open.spotify.com/embed?uri={{ round.playlist_url }}" 
                width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
    </div>

    <!-- Show current player's submission -->
    {% if player_song %}
    <h2 class="text-2xl font-bold  bg-green-500 text-white p-2 shadow-md">Ditt bidrag</h3>
    <div class="p-4 shadow-lg  mb-8 bg-white">
        <p class="text-gray-700 ">
            <strong>{{ player_song.artist }} - {{ player_song.title }}</strong>
        </p>
        
        <!-- Spotify Embed Player for the current song -->
        <div class="mt-4">
            {% if track_id %}
            <div class="p-4  mb-8 bg-white">
                    <iframe src="https://open.spotify.com/embed/track/{{ track_id }}" 
                            width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
                    </iframe>
                </div>
            {% else %}
                <p class="text-gray-500">Ingen sporlenke tilgjengelig.</p>
            {% endif %}
        </div>
    </div>
    {% else %}
        <p>Du har ikke sendt inn noe bidrag ennå.</p>
    {% endif %}
{% else %}
{% if round.start_date < now %}
    <div class="p-4 mb-4 bg-red-500 text-white font-bold text-center shadow-md">
        😖 Fristen for å levere bidrag er passert
    </div>
{% endif %}

{% if round.start_date >= now %}
    <h2 class="text-2xl font-bold bg-green-500 text-white p-2 shadow-md">
        {% if player_song %}Endre bidrag:{% else %}Send inn bidrag:{% endif %}
    </h2>
    <div class="p-4 mb-8 bg-white shadow-lg">
        <form method="post" action="{% url 'submit_song' pk=round.pk %}" onsubmit="return confirmSubmission();">
            {% csrf_token %}
            <div class="mb-4">
                <label for="{{ form.spotify_url.id_for_label }}" class="block text-gray-700">Spotify-lenke:</label>
                <input type="text" name="spotify_url" id="{{ form.spotify_url.id_for_label }}" 
                       value="{% if player_song %}{{ form.spotify_url.value }}{% else %}""{% endif %}" 
                       class="w-full p-2 text-base border rounded-lg" />
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
                {% if player_song %}🤠 Endre bidrag{% else %}😎 Send inn bidrag{% endif %}
            </button>
        </form>
    </div>
{% endif %}

        
        {% if player_song %}
        <form method="post" action="{% url 'delete_song' pk=round.pk %}" id="delete-form">
            {% csrf_token %}
            <button type="button" class="bg-red-500 hover:bg-red-700 mt-2 text-white font-bold py-1 px-2 rounded" onclick="openModal()">
                ☢️ Slett bidrag
            </button>
        </form>
        {% endif %}
        
        <hr class="my-4 border-gray-300">
        {% if player_song %}
            <div class="mt-8">
                <h3 class="text-lg font-semibold mb-2">Registrert bidrag:</h3>
                <p><strong>{{ player_song.artist }} - {{ player_song.title }}</strong></p>
                
                <div class="mt-4">
                    {% if track_id %}
                    <div class="relative" style="height: 100px; width: 100%;">
                        <iframe class="absolute top-0 left-0 w-full h-full" src="https://open.spotify.com/embed/track/{{ track_id }}" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    {% else %}
                        <p>No track URL available.</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if round.round_finished and not user == round.organizer %}
<h2 class="text-2xl font-bold bg-pink-500 text-white p-2 shadow-md">
    Oppsummering av runde:
</h2>
<div class="p-4 text-black bg-white shadow-lg">
    <p class="mb-4">Antall bidrag: {{ num_submitted_songs }}</p>
</div>
    <button id="exportButton" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        Excel-eksport
    </button>
    <button id="exportButton" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        <a href="{% url 'export_to_word' round_id=round.id %}" class="text-white">Word-eksport</a>
    </button>
    <hr class="border-red-300">

    <div style="overflow-y: auto; overflow-x: auto;"> <!-- Allow horizontal scrolling -->
        <table class="table-auto w-full border-collapse border border-gray-400">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-400 p-2">Innsendar</th> <!-- New column for player name -->
                    <th class="border border-gray-400 p-2">Sang</th>
                    {% for player in players %}
                        <th class="border border-gray-400 p-2">{{ player.nickname }}</th>
                    {% endfor %}
                    <th class="border border-gray-400 p-2">SUM:</th>
                </tr>
            </thead>
            <tbody>
                {% for song in all_submitted_songs %}
                    <tr>
                        <td class="border border-gray-400 p-2">
                            {{ song.player.nickname }} <!-- Display the player's nickname -->
                        </td>
                        <td class="border border-gray-400 p-2">
                            <strong>
                                <a href="{{ song.spotify_url }}" target="_blank" class="text-green-500 hover:text-green-700">
                                    <i class="fab fa-spotify"></i>
                                </a>
                                {{ song.artist }} - {{ song.title }}
                            </strong>
                        </td>
                        {% for player in players %}
                            <td class="border border-gray-400 p-2">
                                {% with vote_value=votes_dict|get_item:song.id|get_item:player.id %}
                                    {% if vote_value %}
                                        {{ vote_value }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                        <td class="border border-gray-400 p-2">
                            {{ song.total_score }} <!-- Directly display total score -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}


{% if is_organizer %}
<h2 class="text-2xl font-bold bg-red-500 text-white mt-8 p-2 shadow-md">
    Kun for arrangør:
</h2>

<div class="p-4 text-black bg-white shadow-lg">
    <p class="mb-0 font-bold">Antall bidrag: {{ num_submitted_songs }}</p>

    <h3 class="font-bold">Har stemt:</h3>
    <p>
        {% if players_with_votes %}
            {{ players_with_votes|join:", " }}
        {% else %}
            No players have voted yet.
        {% endif %}
    </p>

    <h3 class="font-bold">Manglar stemmer frå:</h3>
    <p>
        {% if players_without_votes %}
            {{ players_without_votes|join:", " }}
        {% else %}
            All players have voted!
        {% endif %}
    </p>
</div>
</div>
    <button id="exportExcelButton" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        Excel-eksport
    </button>
    <button id="exportWordButton" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
        <a href="{% url 'export_to_word' round_id=round.id %}" class="text-white">Word-eksport</a>
    </button>
    <hr class="border-red-300">

    <div style="overflow-y: auto; overflow-x: auto;"> <!-- Allow horizontal scrolling -->
        <table class="table-auto w-full border-collapse border border-gray-400">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-400 p-2">Innsendar</th>
                    <th class="border border-gray-400 p-2">Sang</th>
                    {% for player in players %}
                        <th class="border border-gray-400 p-2">{{ player.nickname }}</th>
                    {% endfor %}
                    <th class="border border-gray-400 p-2">SUM:</th>
                </tr>
            </thead>
            <tbody>
                {% for song in all_submitted_songs %}
                    <tr>
                        <td class="border border-gray-400 p-2">
                            {{ song.player.nickname }} <!-- Display the player's nickname -->
                        </td>
                        <td class="border border-gray-400 p-2">
                            <strong>
                                <a href="{{ song.spotify_url }}" target="_blank" class="text-green-500 hover:text-green-700">
                                    <i class="fab fa-spotify"></i>
                                </a>
                                {{ song.artist }} - {{ song.title }}
                            </strong>
                        </td>
                        {% for player in players %}
                            <td class="border border-gray-400 p-2">
                                {% with vote_value=votes_dict|get_item:song.id|get_item:player.id %}
                                    {% if vote_value %}
                                        {{ vote_value }}
                                    {% else %}
                                        0
                                    {% endif %}
                                {% endwith %}
                            </td>
                        {% endfor %}
                        <td class="border border-gray-400 p-2">
                            {{ song.aggregated_score }} <!-- Display the aggregated score -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


        <hr class="my-4 border-red-300">
        <button id="copy-urls-button" class="bg-red-500 text-white px-4 py-1 hover:bg-blue-700">
            💫 Kopier Spotify-lenker til utklippstavle
        </button>
        <p>
            <strong>NB:</strong> På datamaskin kan du lime inn alle låtene i ei tom Spotify-liste.
        </p>
        <hr class="my-4 border-red-300">
        <form method="post" action="{% url 'update_playlist_url' pk=round.pk %}">
            {% csrf_token %}
            <label for="playlist_url" class="block text-gray-700 font-bold mb-2">Spotify-liste URL:</label>
            <input type="text" name="playlist_url" id="playlist_url" 
                   value="{{ round.playlist_url }}" 
                   class="w-full p-2 text-base border" 
                   placeholder="Skriv inn Spotify-liste URL" />
                   
            {% if round.start_date > now %}
                <button type="submit" class="bg-gray-400 text-white font-bold py-1 px-2 rounded" disabled>
                    📤 Venter på bidragsfrist
                </button>
            {% else %}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
                    {% if round.playlist_released %}🔄 Oppdater liste{% else %}📤 Publiser liste{% endif %}
                </button>
            {% endif %}
        </form>
        {% if not round_finished %}
        <div class="border-t-4 border-red-600 my-4"></div>
<p class="text-red-600 font-bold mb-5">☢️ Tenk deg om no då... Resultata blir lagt ut så hugs å køyre sending først!</p>

        
    <form method="post" action="" onsubmit="return confirm('Er pGP-runden ferdig? Alle vil sjå resultata om du fortsetter...');">
        {% csrf_token %}
        <button type="submit" name="finish_round" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
            ⚠️ Avslutt runden
        </button>
    </form>
{% else %}
<div class="mt-10 text-center text-2xl font-bold">
    Runden er avlutta
</div>
{% endif %}
    </div>
{% endif %}
</div>

    
</div>

<script>
function confirmSubmission() {
    return confirm("Er du sikker på at du vil sende inn dette bidraget?");
}

function openModal() {
    const confirmation = confirm("Er du sikker på at du vil slette ditt bidrag?");
    if (confirmation) {
        document.getElementById('delete-form').submit();
    }
}

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('copy-urls-button').addEventListener('click', function() {
        const songLinks = [];
        const rows = document.querySelectorAll('table tbody tr'); // Select all table rows in the tbody

        rows.forEach(function(row) {
            const link = row.querySelector('td:nth-child(2) a'); // Get the link in the second cell
            if (link) {
                songLinks.push(link.href); 
            }
        });

        if (songLinks.length === 0) {
            alert('Ingen Spotify-lenker å kopiere!');
            return; // Exit the function if there are no links
        }

        // Shuffle the songLinks array
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        shuffleArray(songLinks);

        navigator.clipboard.writeText(songLinks.join('\n')).then(function() {
            alert('Spotify-lenkene er kopiert til utklippstavlen!');
        }).catch(function(error) {
            console.error('Feil ved kopiering: ', error);
        });
    });
});

const roundName = "{{ round.name|escapejs }}";

// Excel Export Functionality
document.getElementById('exportExcelButton').addEventListener('click', function () {
    const table = document.querySelector('table');
    const workbook = XLSX.utils.book_new(); // Create a new workbook
    const worksheet = XLSX.utils.table_to_sheet(table); // Convert the HTML table to a worksheet

    // Add the worksheet to the workbook
    XLSX.utils.book_append_sheet(workbook, worksheet, 'Songs');

    // Sanitize the round name to remove invalid characters for file naming
    const sanitizedRoundName = roundName.replace(/[<>:"/\\|?*]/g, '');

    // Export the workbook to a file with the round name
    XLSX.writeFile(workbook, `${sanitizedRoundName}_resultat.xlsx`); // Set the file name
});


function copyVotesToClipboard() {
    const votesList = document.getElementById('votes-list');
    const votesText = Array.from(votesList.getElementsByTagName('li'))
        .map(li => li.textContent)
        .join('\n');

    navigator.clipboard.writeText(votesText)
        .then(() => {
            alert('Stemmer kopiert til utklippstavlen!');
        })
        .catch(err => {
            console.error('Failed to copy: ', err);
        });
}



</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


{% endblock %}
